<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Pkz</th>
      <th>Street</th>
      <th>Street_Nr</th>
      <th>Post_Code</th>
      <th>City</th>
      <th>Country</th>
      <th>Position</th>
      <th>Room number</th>
      <th>Superior</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Social security numer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.pkz %></td>
        <td><%= employee.street %></td>
        <td><%= employee.street_nr %></td>
        <td><%= employee.post_code %></td>
        <td><%= employee.city %></td>
        <td><%= employee.country %></td>
        <td><%= employee.position %></td>
        <td><%= employee.room_number %></td>
        <td><%= employee.superior_id %></td>
        <td><%= employee.telephone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.social_security_numer %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
