<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @employee.user_name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Pkz:</strong>
  <%= @employee.pkz %>
</p>

<p>
  <strong>Street:</strong>
  <%= @employee.street %>
</p>

<p>
  <strong>Street_Nr:</strong>
  <%= @employee.street_nr %>
</p>

<p>
  <strong>Post_Code:</strong>
  <%= @employee.post_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee.country %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @employee.room_number %>
</p>

<p>
  <strong>Superior:</strong>
  <%= @employee.superior_id %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Social Security Number:</strong>
  <%= @employee.social_security_numer %>
</p>

<p>
  <strong>Credit Card Nr:</strong>
  <%= @employee.credit_card_nr %>
</p>

<p>
  <strong>Expiration Date:</strong>
  <%= @employee.expiration_date %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
