<!DOCTYPE html>
<html>
<head>
  <title>EmployeeManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless session['google_auth_data'] %>
  <% unless Rails.env.production? %>
    <%= link_to 'Sign in', '/auth/developer', :class => 'top-right-link' %>
  <% else %>
    <%= link_to 'Sign in', '/auth/google_oauth2', :class => 'top-right-link' %>
  <% end %>
<% else %>
  <%= link_to 'Sign out', sessions_sign_out_path, :method => :delete, :class => 'top-right-link' %>
<% end %>
<%= yield %>

</body>
</html>
